<div class="row hotels">
      <%hotels.each do |hotel|%>
        <div class="card-hotel col-sm-12 col-md-6 col-lg-4">
          <a href="#" id="hotel-<%= hotel.id %>" class="anchor"></a>
          <p class="hotel-name"><%=hotel.name%></p>
          <p class="place"><%=hotel.address%></p>
          <div class="nb-night">
            <p><%= (hotel.date_departure - hotel.date_arrival).to_i%><span> nights</span></p>
            <p>$ <%= (hotel.date_departure - hotel.date_arrival).to_i * hotel.price_per_night%></p>
          </div>

          <div class="from">
            <p>FROM</p>
            <p><%= hotel.date_arrival.strftime('%a,%d %b')%></p>
          </div>

          <div class="to">
            <p>TO</p>
            <p><%= hotel.date_departure.strftime('%a,%d %b')%></p>
          </div>

          <div class="modification">
            <i class="fas fa-pen" data-action = "click->form-hotel#display_edit" data-choice = "edit_hotel_<%=hotel.id%>"></i>
            <%= link_to hotel_path(hotel.id), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <%end%>
          </div>

          <div class="form-hotel">
            <%= simple_form_for hotel, html: { class: "d-none",
                                                data: { form_hotel_target: "form_edit"} }  do |f|%>
              <%= f.input :address,
                  input_html: { data: { geocoder_hotel_target: "address" }, class: "d-none" },
                  wrapper_html: { data: { controller: "geocoder-hotel", geocoder_hotel_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
              <%= f.input :name, input_html: { class:"input" }%>
              <%= f.input :price_per_night, input_html: { class:"input" }%>
              <%= f.input :date_arrival, as: :string, required: false, input_html: { id: "range_start", class:"input" } %>
              <%= f.input :date_departure, as: :string, required: false, input_html: {id: "range_end", class:"input"} %>
              <%= f.button :submit, class:"btn-form"%>
            <%end%>
          </div>
        </div>
      <%end%>
  </div>
