<div class="container show-travel">
  <h1>Your trip to :<%= @travel.location%></h1>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-3" data-controller="form-hotel">
      <div class="create">
          <p data-action = "click->form-hotel#display" data-form-hotel-target="btn">+ Add a hotel</p>
        <div class="form-hotel d-none" data-form-hotel-target="form">
          <%= simple_form_for [@travel, @hotel] do |f|%>
            <%= f.input :address,
                input_html: { data: { geocoder_hotel_target: "address" }, class: "d-none" },
                wrapper_html: { data: { controller: "geocoder-hotel", geocoder_hotel_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
            <%= f.input :name%>
            <%= f.input :price_per_night%>
            <%= f.input :date_arrival, as: :string, required: false, input_html: { id: "range_start" } %>
            <%= f.input :date_departure, as: :string, required: false, input_html: {id: "range_end"} %>
            <%= f.submit%>
          <%end%>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
      <div style="width: 100%; height: 75vh;"
          data-controller="mapbox"
          data-mapbox-markershotels-value="<%= @markershotel.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 sum-up">
      <div class="recap-price">
        <h3>Hotels</h3>
        <div class="total-price">
          <p><%=@price_night[:nb_night] %> Nigths</p>
          <p><%=@price_night[:price_total]%> $</p>
        </div>
      </div>

      <div class="total">
        <p>Total</p>
        <p><%= @price_night[:price_total]%> $</p>
      </div>

    </div>

  </div>

</div>
