<div class="container show-travel" data-controller="form-hotel" data-controller ="close">
  <h1>Your trip to :<%= @travel.location%></h1>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-3">
      <div class="create">
          <p data-action = "click->form-hotel#display" data-form-hotel-target="btn">+ Add a hotel</p>
          <p data-action = "click->form-hotel#displayactivity" data-form-hotel-target="btnactivity">+ Add an activity</p>
          <p data-action = "click->form-hotel#displaytransport" data-form-hotel-target="btntransport">+ Add a transport</p>

        <div class="form-hotel d-none" data-form-hotel-target="form">
          <%= simple_form_for [@travel, @hotel] do |f|%>
            <p id="cross" data-action="click->close#delete_form"><i class="fas fa-times"></i></p>
            <%= f.input :address,
                input_html: { data: { geocoder_hotel_target: "address" }, class: "align-cross d-none" },
                wrapper_html: { data: { controller: "geocoder-hotel", geocoder_hotel_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
            <%= f.input :name, input_html: { class:"input" }%>
            <%= f.input :price_per_night, input_html: { class:"input" }%>
            <%= f.input :date_arrival, as: :string, required: false, input_html: { id: "range_start", class:"input" } %>
            <%= f.input :date_departure, as: :string, required: false, input_html: {id: "range_end", class:"input"} %>
            <%= f.button :submit, class:"btn-form"%>
          <%end%>
        </div>

        <div class="form-hotel d-none" data-form-hotel-target="formactivity">
          <%= simple_form_for [@travel, @activity] do |f|%>
            <%= f.input :address,
                input_html: { data: { geocoder_hotel_target: "address" }, class: "d-none" },
                wrapper_html: { data: { controller: "geocoder-hotel", geocoder_hotel_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
            <%= f.input :name, input_html: { class:"input" }%>
            <%= f.input :price, input_html: { class:"input" }%>
            <%= f.input :duration, input_html: { class:"input" }%>
            <%= f.button :submit, class:"btn-form"%>
          <%end%>
        </div>

        <div class="form-hotel d-none" data-form-hotel-target="formtransport">
          <%= simple_form_for [@travel, @transport] do |f|%>
            <%= f.input :address_departure,
                input_html: { data: { geocoder_transport_target: "address_departure" }, class: "d-none" },
                wrapper_html: { data: { controller: "geocoder-transport", geocoder_transport_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
            <%= f.input :address_arrival,
                input_html: { data: { geocoder_transport_arrival_target: "address_arrival" }, class: "d-none" },
                wrapper_html: { data: { controller: "geocoder-transport-arrival", geocoder_transport_arrival_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
            <%= f.input :means_of, input_html: { class:"input" }%>
            <%= f.input :price, input_html: { class:"input" }%>
            <%= f.input :duration, input_html: { class:"input" }%>
            <%= f.button :submit, class:"btn-form"%>
          <%end%>
        </div>

      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
      <div style="width: 100%; height: 75vh;"
          data-controller="mapbox"
          data-mapbox-markershotels-value="<%= @markershotel.to_json %>"
          data-mapbox-markersactivity-value="<%= @markersactivity.to_json %>"
          data-mapbox-markerstransport-value="<%= @markerstransport.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 sum-up">
      <div class="recap-price">
        <h3>Hotels</h3>
        <div class="total-price">
          <p><%=@price_night[:nb_night] %> Nigths</p>
          <p><%=@price_night[:price_total]%> $</p>
        </div>
      </div>

      <div class="recap-price">
        <h3>Activities</h3>
        <div class="total-price">
          <p><%=@price_activity[:nb_activity] %> Activities</p>
          <p><%=@price_activity[:price_total]%> $</p>
        </div>
      </div>

      <div class="recap-price">
        <h3>Transports</h3>
        <div class="total-price">
          <p><%=@price_transport[:nb_transport] %> Transports</p>
          <p><%=@price_transport[:price_total]%> $</p>
        </div>
      </div>

      <div class="total">
        <p>Total</p>
        <p><%= @price_night[:price_total] + @price_activity[:price_total] + @price_transport[:price_total]%> $</p>
      </div>

    </div>

  </div>

  <h3 class="hotel-title">Hotels <i class="fa-solid fa-bed"></i></h3>
  <%= render 'hotel_card', hotels: @hotels%>

  <h3 class="hotel-title">Activities  <i class="fas fa-running"></i></h3>
  <%= render 'activity_card', activities: @activities%>

  <h3 class="hotel-title">Transports  <i class="fas fa-shuttle-van"></i></h3>
  <%= render 'transport_card', transports: @transports%>

</div>
