<div class="home-banner">
  <h1>Make your own trip <span>and share it with the world</span></h1>
  <div class="discover">
    <%= link_to "Discover", travels_path, class:"btn-banner"%>
  </div>
  <div class="marker-img">
    <i class="fas fa-map-marker-alt"></i>
    <%= image_tag 'location_search.svg'%>
  </div>
</div>

<div class="container containerPerso">
  <div class="home-page">
    <div class="step">
      <h2>Plan your trip</h2>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <%= image_tag 'travel_plans.svg'%>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 example">
          <p>Plan your hotels, activity, transport... Define a budget per day and share it with your travel partner in just a few clicks.</p>
        </div>
      </div>

      <h2>Find inspiration</h2>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <%= image_tag 'moments.svg'%>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 example">
          <p>Lacking inspiration? Carefree ! Discover the trips of other travelers lovers as well as their advice.</p>
        </div>
      </div>

      <h2>Share your travel</h2>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <%= image_tag 'world.svg'%>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 example">
          <p>Share your trip with the world and become a traveler lover recognized by the community.</p>
        </div>
      </div>

    </div>

  </div>
</div>
